@model Service.ViewModels.AppointmentConsultationViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Desejar Excluir Consulta?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Protocolo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExamDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExamDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConsultationDate)
        </dd>
        <hr />

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExameRegistration.TypeOfExam.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExameRegistration.TypeOfExam.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExameRegistration.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExameRegistration.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExameRegistration.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExameRegistration.Note)
        </dd>
        <hr />
        <br />
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.PhoneNumber)
        </dd>
        <hr />


    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
